.equal-image {
    width: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị vỡ ra ngoài khi thay đổi kích thước */
    max-height: 100%; /* Đặt chiều cao tối đa cho hình ảnh để ngăn chặn các hình ảnh quá dài */
  }
  .slogan{
    
  }